<!DOCTYPE html>
<html>
<h1>This is the Job Detail page.</h1>

<ol>
<li><b>Job Title:</b> <%= jobtitle %></li>
<li><b>Company:</b> <%= companyname %></li>
<li><b>Location:</b> <%= location %></li>
<li><b>Salary:</b> <%= salary %></li>
<li><b>Requirements:</b> <%= requirements %></li>
<li><b>Additional information:</b></li>
</ol>

<p>This isn`t the right job? <a href="./jobOverview">Have a look at our other Jobs</a>
</html>