<!DOCTYPE html>
<html>
<% if(added){ %>
    <h1>Job added successfully.</h1>
<% } else { %>  
    <h1>This is the Job Detail page.</h1>
<% } %>


<ol>
<li><b>Job Title:</b> <%= title %></li>
<li><b>Company:</b> <%= company %></li>
<li><b>Location:</b> <%= location %></li>
<li><b>Salary:</b> <%= salary %></li>
<li><b>Qualifications:</b> <%= qualifications %></li>
<li><b>Additional information:</b> <%= description %></li>
</ol>

<% if(!added){ %>
    <p>This isn`t the right job? <a href="./jobOverview">Have a look at our other Jobs</a>
 <% } %>

</html>