<!DOCTYPE html>
<html>
<% if (found) { %>
  <h1>We found matching Jobs:</h1>
  <ul>
    <% jobs.forEach(job => { %>
      <li>
        <b>Job Title:</b> <%= job.title %><br>
        <b>Company:</b> <%= job.company %><br>
        <b>Location:</b> <%= job.location %><br>
        <b>Salary:</b> <%= job.salary %><br>
        <b>Qualifications:</b> <%= job.qualifications %><br>
        <b>Additional information:</b> <%= job.description %>
      </li>
    <% }); %>
  </ul>
<% } else { %>
  <h1>There are no matching jobs.</h1>
<% } %>
</html>
